.menu,
.top-buttons,
body,
header,
html,
nav {
  display: flex
}

body,
nav {
  width: 100%
}

footer,
main {
  align-content: center
}

.about-info,
.app-info,
.banner,
.bottom-text,
.contact-page {
  max-width: 720px
}

.close-menu,
.hamburger-menu,
.show-more,
.telegram-btn {
  cursor: pointer
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  flex: 1
}

header {
  background: linear-gradient(119deg, #b50076, #ff0000);
  color: #fff;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
  position: relative
}

.top-buttons {
  justify-content: space-between;
  gap: 10px
}

.Login-button {
  width: 90px;
  height: 40px;
  font-size: 12px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: #0078ef;
  border-style: none;
  filter: drop-shadow(0px 0px 12px rgb(255, 255, 255));
}

.app-info,
.menu a {
  border-radius: 5px
}

nav {
  align-items: center;
  justify-content: space-between
}

.logo img {
  width: 130px
}

.menu a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #ffab00
}

.menu {
  align-items: center
}

.hamburger-menu,
main {
  flex-direction: column;
  display: flex
}

.hamburger-menu span {
  background-color: #ffffff;
  height: 3px;
  margin: 2px 0;
  width: 25px;
  border-radius: 50px
}

main {
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: auto
}

.agent-info,
.bottom-text,
h2 {
  text-align: left
}

.app-info {
  background:linear-gradient(181deg, #ff0000, #4e0101);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.app-info h1 {
  font-size: 18px
}

.main-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  height: 30px;
  align-items: center;
  width: 100%
}

.agent-info {
  margin-bottom: 20px;
  color: #666;
  font-size: 15px
}

.register-main-btn,
footer a {
  font-size: 14px;
  text-decoration: none
}

.banner {
  width: 100%;
  border-radius: 19px;
  margin-top: 10px;
  height: 200px;
  overflow: hidden
}

.register-main-btn {
  display: inline-block;
  margin: 5px 0;
  padding: 20px 9px;
  background-color: #ffffff;
  color: #0015ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 317px;
  filter: drop-shadow(0px 0px 12px rgb(255, 170, 0));
}

.tg1,
.tg2 {
  width: 39px;
  position: relative;
  left: 0
}

.app-info table {
  width: 100%;
  margin: 9px 0;
  border-collapse: collapse;
  font-size: 12px;
  height: 50px
}

.app-info table,
.app-info td,
.app-info th {
  border: 1px solid #ddd
}

.app-info td,
.app-info th {
  padding: 9px;
  text-align: left
}

.app-info th {
  background-color: #f4f4f4
}

.telegram-section {
  margin: 3px 0;
  display: flex;
  justify-content: center
}

h2 {
  font-size: 20px;
  margin: 10px
}

.tg1 {
  padding-right: 10px
}

.tg2 {
  padding-right: 5px
}

.telegram-btn {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0;
  background-color: #039be3;
  color: #fff;
  border: none;
  border-radius: 100px;
  text-decoration: none;
  width: 120px;
  height: 40px;
}

.about-content,
footer {
  flex-direction: column
}

.bottom-text {
  font-size: 15px;
  width: 350px
}

.copyr p {
  position: relative;
  top: -3px;
  font-size: 12px
}

footer {
    background:linear-gradient(181deg, #ff0000, #4e0101);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

footer a {
  color: #00ffee;
  margin: 0 10px;
  display: flex;
  padding-bottom: 10px
}

.hamburger-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  z-index: 1000
}

.hamburger-menu-overlay ul {
  list-style: none;
  text-align: center;
  width: 330px;
  margin-top: -300px;
  background-color: #a41b0098;
  border-radius: 10px
}

.blog-info,
.contact-info p,
.disclaimer-info,
.privacy-info,
.privacy-info h2 {
  text-align: left
}

.hamburger-menu-overlay ul li a {
  color: #fff;
  display: block;
  padding: 15px;
  text-decoration: none;
  display: flex
}

.close-menu {
  background-color: #b1000000;
  color: red;
  border: none;
  padding: 10px 20px
}

.about-info {
  width: 100%
}

.about-info .main-head h1,
.contact-page .main-head h1 {
  font-size: 15px
}

.about-info .main-head,
.contact-page .main-head {
  margin-bottom: 12px
}

.about-content {
  display: flex;
  align-items: flex-start
}

.about-content p,
.about-content ul li {
  font-size: 12px;
  text-align: left
}

.about-content h1,
.about-content h2 {
  color: #039be3;
  margin: 0;
  font-size: 15px
}

.contact-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 445px
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 12px
}

.contact-info h1,
.contact-info h2 {
  margin: 0;
  font-size: 15px;
  color: #039be3
}

.blog-info,
.disclaimer-info p,
.privacy-info li,
.privacy-info p {
  font-size: 12px
}

.contact-footer {
  display: flex;
  justify-content: flex-end
}

.disclaimer-info strong {
  color: #039be3
}

.privacy-info {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column
}

.blog-info,
.blog-section {
  flex-direction: column;
  display: flex
}

.privacy-info h1 {
  font-size: 15px;
  margin: 0
}

.privacy-info h2 {
  font-size: 15px;
  margin: 0;
  color: #039be3
}

.blog-info {
  align-items: center
}

.blog-header {
  color: #000;
  font-size: medium;
  width: 371px;
  bottom: -10px;
  position: relative;
  display: flex;
  justify-content: space-between
}

.blog-header h1 {
  margin: 0;
  font-size: 15px
}

.blog-section {
  gap: 20px;
  margin: 20px
}

.blog-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 330px
}

.blog-content .more-content {
  display: none
}

.blog-content {
  padding: 0;
  margin: 0
}

.show-more {
  background-color: #00528d;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 20px
}

.show-more:hover {
  background-color: #0056b3
}

.blog-section h2 {
  font-size: 15px;
  color: #039be3;
  margin: 0
}

.activity {
  width: 350px
}

.responsible {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  margin-bottom: 279px;
  align-items: center;
  text-align: left;
}

.terms-conditions-info {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  margin-bottom: 279px;
  align-items: center;
  text-align: left;
}
